{% extends "base-bootstrap.html" %}
{% load crispy_forms_tags %}
{% block title %}Novo Processo{% endblock %}
{% block nav-title %}Novo Processo{% endblock %}
{% block main %}
    <div class="mt-3 mb-3 d-flex justify-content-around align-items-center">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary mt-3" type="submit" value="Salvar">
        </form>
    </div>
{% endblock %}
